
@model PasswordRecoveryViewModel;

<div class="d-flex justify-content-center"style="height: 50vh; margin: 0 auto;">
    <div class="container col-4">
        <h1>Forgot your password?</h1>
        <form method="post" asp-action="PasswordRecovery" asp-controller="Account">

            <div class="mb-3">
                <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <span asp-validation-for="Email"></span>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>

