@model PasswordResetViewModel;

<div class="d-flex justify-content-center p-5"style="height: 80vh">
    <div class="col-4">
        <h1>Password Reset</h1>
        <form method="post" asp-action="PasswordReset" asp-controller="Account">
            <div class="text-danger">
                <div asp-validation-summary="ModelOnly"> </div>
            </div>
            <div class="mb-3">
                <input type="password" asp-for="Password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
            </div>
            <span asp-validation-for="Password"></span>
            <div class="mb-3">
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
            <span asp-validation-for="Password"></span>
            <input hidden asp-for="Token" />
            <input hidden asp-for="Email" />
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>

    </div>

</div>


